body {
  background: white;
  margin: 0 auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #fde8e9;
  align-items: center;
}

.logo {
  width: 5.5rem;
  height: 5.5rem;
}

figure {
  width: 50%;
}

ul {
  width: 50%;
}

li {
  display: inline-block;
  margin: 1.5rem;
  /* border: solid 1px black; */
  padding: 1rem;
  background-color: #bc9ec1;
  color: white;
  font-weight: 700;
}

li a {
  text-decoration: none;
  color: white;
}

li a:active {
  color: white;
}

#banner-container {
  width: 100%;
  margin: 0;
}

#banner {
  width: 100%;
  height: 55vh;
}

.shortcut-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.shortcut {
  margin: 1rem;
  padding: 1rem;
  width: 33%;
  height: 500px;
}

.shortcut-images {
  width: 100%;
  /* height: 450px; */
}

.header-shortcut {
  background-color: #e3bac6;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
}

.slogan {
  text-align: center;
  font-size: 4rem;
}

.article-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.article {
  margin: 1rem;
  padding: 1rem;
  width: 25%;
  height: 500px;
  margin-bottom: 100px;
}

.article-images {
  width: 100%;
  /* height: 450px; */
}

.header-article {
  background-color: #e3bac6;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #bc9ec1;
  justify-content: space-evenly;
}

#section-contact {
  padding: 1rem;
  margin: 0.5rem;
}

#section-some {
  padding: 1rem;
  margin: 0.5rem;
}

#section-news {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: black;
}

i {
  margin-right: 10px;
}

#newsletter-input {
  background-color: #fde8e9;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
}

#newsletter-button {
  background-color: #fde8e9;
  padding: 15px 5px;
  border: none;
}

#newsletter-button:hover {
  background-color: #596475;
}

/*about*/

#about-contact {
  max-width: 400px;
  margin: 0 auto;
}

#about-contact div {
  margin: 0 auto;
}

#about-contact h2 {
  text-align: center;
  background-color: #e3bac6;
}

.about-box {
  display: flex;
}

.box {
  width: 50%;
  justify-content: center;
  background-color: #e3bac6;
  text-align: center;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-2 {
  width: 50%;
  justify-content: center;
  background-color: #fde8e9;
  text-align: center;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-opening {
  background-color: #bc9ec1;
  padding: 3rem 0;
}

.about-opening > div {
  display: flex;
  justify-content: space-evenly;
}

.about-opening > h2 {
  text-align: center;
}

.contact {
    padding: 0 2rem;
}


.contact-form {
  width: 30%;
  display: flex;
  flex-direction: column;
} 

.contact-form > * {
  margin: 0.5rem 0;
  background-color: #E3BAC6;
  border: 1px solid black;
  padding: 0.8rem;
  border-radius: 5px;
}

::placeholder {
  color: black;
}

#message{
  height: 10rem;
}

.contact > h1 {
  text-align: center;
}

#gmap_canvas {
  min-width: 100%;
} 


.mapouter {
  min-height: 20rem;
  display: flex;
  width: 100%;

}

/*events*/

.event-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.event {
    width: 40%;
    margin: 30px 0;
    position: relative;
}

.event > p {
    position: absolute;
    top: 0;
    padding: 0 10px;
}


.event-images {
    width: 100%;
    /* height: 450px; */
  }

  .load-more {
      margin: 0 auto;
      text-align: center;
      background-color: #E3BAC6;
      padding: 25px 45px;
      width: 20%;
      margin-bottom: 40px;
  }

  .load-more > span {
    font-size: 1.5rem;
  }


/*kids*/


.kids-section-wraper {
    width: 50%;
    margin: 0 auto;
}

.kids-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.kids {
    width: 40%;
    margin: 30px 0;
    position: relative;
}

.kids-images {
    width: 100%;
    /* height: 450px; */
  }


  .kids-info {
      width: 50%;
      margin: 0 auto;
  }

.kids-info > article > p {
    width: 80%;
    margin: 0 auto;
}


.kids-banner {
   width: 80%; 
   margin: 0 auto;
}

.kids-banner > img {
    width: 100%;
    height: 600px;
    margin: 35px 0;
    /* margin: 0 auto; */
}

.kids-header {
    text-align: center;
    font-size: 2rem;
}


/* Night in the Museum */


.night-section-wraper {
  width: 50%;
  margin: 0 auto;
}

.night-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.night-banner {
  width: 80%; 
  margin: 0 auto;
}

.night-banner > img {
  width: 100%;
  height: 600px;
  margin: 35px 0;
  /* margin: 0 auto; */
}

.night-header {
  text-align: center;
  font-size: 2rem;
  background-color: #E3BAC6;
  padding: 2rem;
  /* width: 100%; */
}

.night-images {
  width: 50%;
  /* height: 450px; */
}

.night {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 1rem 0;
}

.night p {
  padding: 2rem;
}

.night:nth-child(even) {
  flex-direction: row-reverse;
}

/* mobil */
@media only screen and (max-width: 600px) {
body {
  background: tomato;
}
}

/* tab */

@media only screen and (min-width:600px) and (max-width: 992px) {
body {
  background: turquoise;
}
}
